################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CS50-in-.NET/FileContentIndex/355ff5a5-c209-4a5d-ac67-2e3599a157d4.vsidx
